* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Dungeon";
  src: url(../font/DUNGRG__.TTF) format("truetype");
}

@font-face {
  font-family: "Fairies";
  src: url(../font/Fairies.otf) format("opentype");
}

@font-face {
  font-family: "Press";
  src: url(../font/PressJobs.ttf) format("truetype");
}

body {
  min-height: 100vh;
  /*min-height: 100px;*/
  background-color: #060913;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jeu {
  position: relative;
  background-color: #35355f;
  height: 700px;
  width: 700px;
  /*width: 100vh;
  height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 50px 1px #3d3d64;
  border-radius: 1%;
}
.boutonRecommencer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#boutonDebut {
  height: 3vh;
}

.logo {
  font-family: "Dungeon";
  font-size: 100px;
  font-weight: 100;
  color: #f0e5f3;
  align-self: center;
  text-shadow: 5px 5px 2px #060913;
  height: 15vh;
}

.titre {
  font-family: "Press";
  font-size: 25px;
  color: #f0e5f3;
  align-self: center;
  text-shadow: 5px 5px 2px #060913;
  /*margin-bottom: 2%;*/
}

.paragraphe {
  font-family: Verdana;
  color: #f0e5f3;
  font-size: 14px;
  align-self: center;
  text-shadow: 5px 5px 2px #060913;
  margin: 1%;
  padding: 1rem;
}

.image {
  align-self: center;
  width: 100%;
  height: 50%;
  box-shadow: 0px 10px 5px #060913;
}

.video {
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 50%;
  box-shadow: 0px 10px 5px #060913;
}

.option {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 20vh;
  height: 6vh;
  background-color: #33424d;
  margin: 1%;
  border-radius: 25px;
  box-shadow: 2px 3px 2px #060913;
  font-family: Verdana;
  color: #d7ddea;
}

button:hover {
  background-color: #fae0f4;
  color: #524459;
}

.barre {
  height: 10vh;
  width: 25vh;
  position: absolute;
  top: 0vh;
  display: flex;
  flex-direction: row;
  margin-left: 0.5vh;
}
.progression:nth-child(2) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.progression:nth-child(7) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.progression {
  align-self: flex-end;
  margin-bottom: 1vh;
  width: 4.1vh;
  height: 1.2vh;
  background-color: rgb(26, 21, 58);
  margin-bottom: 3vh;
}

.couleur {
  background-color: #f0e5f3;
}

.personnage {
  position: absolute;
  width: 25vh;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.perso {
  height: 4.1vh;
  width: 4.1vh;
}
.photo {
  background-color: antiquewhite;
}
.choix {
  z-index: 2;
  position: absolute;
  background-color: #35355f;
  height: 720px;
  width: 700px;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
}
.containermenu {
  height: 10vh;
  /*
  background-color: rgb(48, 59, 68);
  */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titremenu {
  font-family: "Dungeon";
  font-size: 70px;
  font-weight: 100px;
  color: #f0e5f3;
  text-shadow: 5px 5px 2px #060913;
  height: 15vh;
}
.containerimage {
  overflow-y: scroll;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: 62vh;
  width: 55vh;
  background-color: #24243a;

  /*
  background-color: palevioletred;
  */
  justify-content: flex-end;
}
.containerimage::-webkit-scrollbar {
  display: none;
}

.displayimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 35vh;
  background-color: #2b2b47;
  align-items: center;
}
.imageperso {
  overflow: hidden;
  background-color: #535385;

  border-radius: 2vh;
  width: 30vh;
  height: 30vh;
}
.containerpersoimage {
  display: flex;
  flex-direction: row;
}
.containermenuimage {
  height: 70vh;
}
.classementperso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 55vh;
  background-color: #3d3d64;
}
.containersquareimage {
  width: 15vh;
  height: 15vh;
  border: #30304f solid;
  border-radius: 1vh;
}
.containersquareimage:hover {
  border: #f0e5f3 solid;
}

.sexe {
  width: 10vh;
  height: 3vh;
  background-color: #33424d;
  margin: 1%;
  border-radius: 25px;
  box-shadow: 2px 3px 2px #060913;
  font-family: Verdana;
  color: #d7ddea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sexe:hover {
  background-color: #fae0f4;
  color: #524459;
}
.sexeselect {
  background-color: #fae0f4;
  color: #524459;
}
.containerbouton {
  display: flex;
  height: 10vh;
  /*
  background-color: rgb(81, 143, 194);
  */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .jeu {
    height: 800px;
    width: 500px;
  }
  .progression {
    margin-bottom: 2vh;
  }
  .choix {
    height: 800px;
    width: 500px;
  }
  .titremenu {
    font-size: 60px;
  }
  .displayimage {
    height: 80vh;
  }
  .classementperso {
    width: 30vh;
  }
  .containerimage {
    height: 70vh;
    width: 30vh;
  }
  .containermenuimage {
    width: 30vh;
  }
  .displayimage {
    height: 78vh;
  }
}

@media screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
  .jeu {
    height: 900px;
    width: auto;
    display: block;
    text-align: center;
    margin: auto;
  }

  .image {
    height: 40%;
  }

  .video {
    height: 40%;
  }

  .paragraphe {
    font-size: 12px;
    padding: 1rem;
  }

  .logo {
    font-size: 70px;
  }

  .titre {
    font-size: 20px;
  }

  button {
    display: block;
  }
  .progression {
    margin-bottom: 3vh;
  }
  .choix {
    height: 900px;
    width: 68vh;
  }
  .titremenu {
    font-size: 50px;
  }
  .displayimage {
    height: 80vh;
  }
  .classementperso {
    width: 35vh;
  }
  .containermenuimage {
    width: 35vh;
  }
  .containerimage {
    height: 72vh;
    width: 35vh;
  }
  .displayimage {
    height: 80vh;
  }
}
